<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS SNACKS v5</title>
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="style.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>


    <!--a container that managed user image and messages generate by vue -->
    <div id="app" class="container">

      <!-- aside bar that manages nicknames and images with an interpolation of the dot notation array-->
      <aside class="side">
        <!-- Img with user name extrapolate by an array of object -->
        <section class="flex background-color-grey section-first">
          <!-- User-bar -->
          <div class="nav-right">
            <ul class="flex">
              <!-- list with dinamic value managed by vue -->
              <li class="list-user" >

                 <!-- image taken from the img folder with the prefix taken from the user object in the avatar key "_io" plus its name "jpg", using the dot notation, making dynamic the image change and its connection with the "user" object array. -->
                <img :src="'./img/avatar'+ user.avatar +'.jpg'" class="img-user">

                  <!-- Object from user.name -->
                <p class="object-name">{{user.name}}</p>
              </li>
            </ul>
          </div>
          <!-- list of font awesome  -->
          <div class="nav-left">
            <ul class="flex">
              <li class="list-font">
                <i class="fas fa-circle-notch"></i>
              </li>
              <li class="list-font">
                <i class="fas fa-comment-alt"></i>
              </li>
              <li  class="list-font">
                  <i class="fas fa-ellipsis-v"></i>
              </li>
            </ul>
          </div>
        </section>

        <!-- notification -->
        <section class="news">
          <ul class="flex">
            <li class="list-font list-icon reset-opacity">
              <div class="icon-style">
                <i class="fas fa-bell-slash"></i>
              </div>
                 <li>
                   <p class="description-icon">Ricevi notifiche nuovi messaggi</p>
                   <a href="#">Attiva notifiche deskotop</a>
                 </li>
            </li>
          </ul>
       </section>
       <!-- Searching news and notication-->
       <section class="input-search">
         <ul class="flex justify-content-space-between">
           <li class="flex margin-right-20px-lg">
             <i class="fas fa-search font-style"></i>
           </li>
           <li class="flex">
             <!-- Input value managed by vue -->
             <input class="input-style" type="text" name="" value="" placeholder="search user">
           </li>
         </ul>
       </section>
        <!-- User-contact -->
       <section class="User-contact">
         <!-- List-user -->
          <ul class="flex flex-direction-column" >

            <!--in array loop I extrapolated the elements and the index.  then I made a ternary function to determine if lindexe is equal to the control variable am to add the ctive class. I created a click function to change the active class. -->
            <li v-for="(contact, index) in contacts" class="list-user hoover " :class="indexId == index ? 'active' : ''"  @click="openChat(index)">
              <!--the current image printed on html with the method previously described -->
               <img :src="'./img/avatar'+ contact.avatar +'.jpg'"  alt="" class="img-user">
               <!-- loop of an array of objects to extrapolate contact from contacts (the array) to print the name. -->
               <p class="object-name padding-left-30">{{contact.name}}</p>
            </li>
          </ul>
       </section>
     </aside>

      <!-- messages handled by vue within an object array -->
      <!-- User in contact -->
      <main class="content">
         <!--header with a  search input managed by vue -->
         <section class="cont-header background-color-grey">
           <div class="nav-right-content">
             <!-- Condition to print only one element in the array of objects -->
             <ul  class="flex">

                <li class="list-user" >
                    <!--the current image printed with dot notation 'the address of the image + reference array [the control variable] + avatar + the format'-->
                  <img class="img-user img-user-content"  :src="'./img/avatar'+ contacts[indexId].avatar +'.jpg'" alt="">
                  <ul class="flex flex-direction-column justify-content-center padding-left-20">
                    <li class="flex flex-direction-column align-self-center">
                        <!--the printed name that corresponds to the reference array connected to the function described in section four of side with the control variable -->
                       <p>{{contacts[indexId].name}}</p>
                    </li>
                    <li>
                       <p class="style-acess">Ultimo accesso oggi alle 10.35</p>
                    </li>
                  </ul>
                </li>
             </ul>
           </div>
           <!-- List of icon -->
           <div class="nav-left-content">
             <ul class="flex">
               <li class="list-font">
                 <i class="fas fa-search reset-font-search"></i>
               </li>
               <li class="list-font">
                 <i class="fas fa-paperclip"></i>
               </li>
               <li  class="list-font">
                   <i class="fas fa-ellipsis-v"></i>
               </li>
             </ul>
           </div>

         </section>
         <!--main with messages generate inside an array of object that are managed by vue -->
         <section class="cont-main">
           <!--  loop of an array to transpose the index and the array itself.
            The extrapolated array plus [the control variable] to extrapolate the exact message connected to the user and the image.
             Using the ternary function to determine who the row-sent or row-received class belongs to, with the message.status object. -->
           <div  v-for="(message, index) in contacts[indexId].messages" :class="message.status == 'sent' ? 'row-sent' : 'row-received'">
              <!--use of the ternary function to determine who the sent or received class belongs to, thanks to the "message.status" element  -->
              <div class="box" :class="message.status == 'sent' ? 'sent' : 'received'">
                  <!-- stamping the element plus its value. "element.key". -->
                  <p>{{message.message}}<small>{{message.date}}</small></p>
                      <i class="fas fa-chevron-down"></i>
                  </div>
           </div>
         </section>
         <!-- footer with an input that generate new message -->
         <section class="cont-footer">
           <!-- Icon-sidebar-left -->
          <div class="sidebar-left">
             <i class="far fa-smile"></i>
          </div>
          <!-- Inp -->
          <div class="sidebar-center">
            <input class="input-footer" type="text" name="" value="" placeholder="scrivi un messagio">
          </div>
          <!-- microphone -->
          <div class="sidebar-right">
            <i class="fas fa-microphone"></i>
          </div>
         </section>
      </main>

    </div>






    <!-- JS  -->

    <script src="./javascript/main.js"></script>
</body>
</html>
