/* general setting */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #d2dbdc 15%,
    #d2dbdc 100%
    );
}


/* DESKOTOP FIRST */


/* UTILITIES */

/* Margin */

.margin-right-40px-lg{
  margin-right: 40px;
}

/* LAYOUT-LIST */

.list-user{
  display: flex;
  padding: 10px;
}

.list-font{
  padding-top: 20px;
  display: flex;
  padding-right: 15px;
  filter: opacity(.2);
}

.list-icon{
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 15px;
 flex-direction: column;
}

/* LAYOUT-IMG */

.img-user {
  width: 12%;
  border-radius: 50%;
  align-self: center;
}

.object-name{
  align-self: center;
}

.flex{
  display: flex;
}


/* background */

.background-color-grey{
  background-color: #8080805e;
}

/* TYPO */

a{
  align-self: center;
  font-size: 10px;
}

li{
  align-self: center;
  list-style: none;
}




/* layout */

.container{
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

.side{
 flex-basis: 35%;
}

.news{
  background-color:  #00bcd49e;
}

.icon-style{
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.fas.fa-bell-slash{
  font-size: 20px;
  color: #00bcd49e;;
}

.description-icon{
  color: black;
  font-size: 14px;
  align-self: center;
}

i.fas.fa-search{
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 25px;
  filter: opacity(.2);
}

.input-style{
  border: 0;
  filter: opacity(.2);
}




.content{
 flex-basis: 65%;
 background: #aaa;
 display: flex;
 flex-direction: column;
}


.cont-header,
.cont-footer{
  padding: 20px;
  background: rgba(255,0,0.5);
}



.cont-main{
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
