/* general setting */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #d2dbdc 15%,
    #d2dbdc 100%
    );
}

/* layout */

.container{
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

.side{
 flex-basis: 35%;
 background: #ccc;
}

.content{
 flex-basis: 65%;
 background: #aaa;
 display: flex;
 flex-direction: column;
}


.cont-header,
.cont-footer{
  padding: 20px;
  background: rgba(255,0,0.5);
}



.cont-main{
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
